html {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Inter", sans-serif; /* Replace with your desired font */
  height: inherit;
}

#root {
  height: inherit;
}

.App {
  height: inherit;
}

.no-p-margin p {
  margin-top: auto;
}

.dashboard {
  width: 80%;
}

a {
  text-decoration: none; /* Removes underline */
  color: inherit;
}

li {
  list-style: none; /* Removes bullet or number from list item */
}

ul {
  padding: 0;
}
