.product-container {
  width: 100%;
  max-width: 1000px; /* Ajusta el tamaño máximo de la tabla */
  margin: auto;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow-x: auto; /* Agrega desplazamiento horizontal si es necesario */
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.search-refresh {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  width: 200px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button-group {
  display: flex;
  gap: 10px; /* Añade espacio entre los botones */
}

.refresh-button, .new-button {
  padding: 8px 12px;
  border: none;
  background-color: #2c3e50;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.new-button {
  background-color: #007bff;
}

.product-table {
  width: 100%;
  max-width: 100%; /* Ajusta la tabla al contenedor */
  border-collapse: collapse;
  margin-bottom: 20px;
}

.product-table th,
.product-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

.product-table th {
  background-color: #f2f2f2;
  color: #333;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* Permite que la paginación se adapte en pantallas pequeñas */
}

.pagination button,
.pagination .items-per-page {
  padding: 8px 12px;
  border: none;
  background-color: #2c3e50;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.page-numbers {
  margin: 0 10px;
}

@media (max-width: 768px) {
  .search-refresh {
    flex-direction: column;
    align-items: flex-start;
  }

  .search-input {
    width: 100%;
    margin-bottom: 10px;
  }

  .button-group {
    width: 100%;
    justify-content: flex-end;
  }

  .refresh-button, .new-button {
    width: auto;
  }

  .pagination {
    flex-direction: column;
    align-items: center;
  }
}

